.superficie p{
    margin-top: 70px;
    margin-left: 50px;
    font-size: 20px;
  }
  span{
    font-weight: bold;
  }
  
  .card{
    background-color: #D9D9D9;
    box-shadow: 12px 12px  rgba(0, 0, 255, .2);
    background-size: cover;
    
  }
  
  .images-sect{
    height: 60vh;
    background-image: url('/assets/mali.png ');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin: 0px !important;
    background-position: center;
  }
  .images-sect .titre{
  text-align: center;
  margin-top: 5%;
  }
  
  
  .header-sect{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
.site{
    margin-top: 40px;
    font-size: 40px;
}

.comment{
    color: red;
    font-size: 25px;
    margin-left: 30px;
}








@media only screen and (max-width: 767px) {
    img{
      width: auto;
      height: 190px;
    }
  }