<div class="container">
  <div class="tour">
    <img src="assets/mali.png" class="mx-auto d-block" alt="kayes" />

    <h2>
      Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche
      de son passé glorieux constitue une des destinations touristiques les plus
      prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité
      de ses ressources touristiques.
    </h2>

  </div>



  <div class="card ">
      
    <div class="row">
      <div class="col-md-6">
        <div class="superficie">
          <p><span>Population</span> : 158 493 hab. (2021)</p>
          <p><span>Superficie</span> : 2 219 000 ha = 22 190 km2</p>
          <p><span>Langues parlées</span> :Soninké, Khassonkés, Malinkés, Maures, Peuls et Bambara.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col myimg ">
          <img src="assets/mali.png" class="mx-auto d-block" alt="Carte du Mali"> 
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h2 class="site text-center">Quelques site de tourisme de kayes</h2>

    <div class="row">
     <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
       <div class="card">
         <div class="images-sect"> </div>
         <h2 class="titre">Bamako</h2>
         <div class="para">
           <p>
             La région de Kayes est une des plus belles régions du Mali.
             Paradoxalement, cette partie du pays est très peu fréquentée par les
             touristes.
           </p>
         </div>
       </div>
      
    
     </div>
     <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
       <div class="card">
         <div class="images-sect"> </div>
         <h2 class="titre">Bamako</h2>
         <div class="para">
           <p>
             La région de Kayes est une des plus belles régions du Mali.
             Paradoxalement, cette partie du pays est très peu fréquentée par les
             touristes.
           </p>
         </div>
       </div>
      
    
     </div>
     <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
       <div class="card">
         <div class="images-sect"> </div>
         <h2 class="titre">Bamako</h2>
         <div class="para">
           <p>
             La région de Kayes est une des plus belles régions du Mali.
             Paradoxalement, cette partie du pays est très peu fréquentée par les
             touristes.
           </p>
         </div>
       </div>
      
    
     </div>
     
   </div>
  </div>
 
</div>
