<div class="container">
  <div class="tour">
    <img
      src="../assets/images/{{ regions.images }}"
      class="mx-auto d-block"
      alt="kayes"
    />

    <h2>
      {{ regions.description }}
    </h2>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <div class="superficie">
          <p>Superficie: {{ regions.superficieregion }}</p>
          <p>
            <span>Langues parlées:{{ regions.languemregion }} </span>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col myimg">
          <img
            src="assets/mali.png"
            class="mx-auto d-block"
            alt="Carte du Mali"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <h2 class="site text-center">Quelques site de tourisme de kayes</h2>

    <div class="row">
     <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
       <div class="card">
         <div class="images-sect"> </div>
         <h2 class="titre">Bamako</h2>
         <div class="para">
           <p>
             La région de Kayes est une des plus belles régions du Mali.
             Paradoxalement, cette partie du pays est très peu fréquentée par les
             touristes.
           </p>
         </div>
       </div>
      
    
     </div>
     <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
       <div class="card">
         <div class="images-sect"> </div>
         <h2 class="titre">Bamako</h2>
         <div class="para">
           <p>
             La région de Kayes est une des plus belles régions du Mali.
             Paradoxalement, cette partie du pays est très peu fréquentée par les
             touristes.
           </p>
         </div>
       </div>
      
    
     </div>
     <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
       <div class="card">
         <div class="images-sect"> </div>
         <h2 class="titre">Bamako</h2>
         <div class="para">
           <p>
             La région de Kayes est une des plus belles régions du Mali.
             Paradoxalement, cette partie du pays est très peu fréquentée par les
             touristes.
           </p>
         </div>
       </div>
      
    
     </div>
     
   </div>
  </div>-->

  <section style="background-color: #eee">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <h2 class="comment">Laisser un commentaire</h2>

            <div class="card-body">
              <div class="d-flex flex-start align-items-center">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                  alt="avatar"
                  width="60"
                  height="60"
                />
                <div>
                  <h6 class="fw-bold text-primary mb-1">Aly Konte</h6>
                  <p class="text-muted small mb-0">
                    Shared publicly - Jan 2020
                  </p>
                </div>
              </div>

              <p class="mt-3 mb-4 pb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip consequat.
              </p>

              <div class="small d-flex justify-content-start">
                <a href="#!" class="d-flex align-items-center me-3">
                  <i class="far fa-thumbs-up me-2"></i>
                  <p class="mb-0">Aimer</p>
                </a>
                <a href="#!" class="d-flex align-items-center me-3">
                  <i class="far fa-comment-dots me-2"></i>
                  <p class="mb-0">Commenter</p>
                </a>
                <a href="#!" class="d-flex align-items-center me-3">
                  <i class="fas fa-share me-2"></i>
                  <p class="mb-0">Partager</p>
                </a>
              </div>
            </div>

            <!-- <p *ngFor="let moi of regions">Je suis</p> -->

            <form >
              <div
                class="card-footer py-3 border-0"
                style="background-color: #f8f9fa"
              >
                <div class="d-flex flex-start w-100">
                  <img
                    class="rounded-circle shadow-1-strong me-3"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                    alt="avatar"
                    width="40"
                    height="40"
                  />
                  <div class="form-outline w-100">
                    <textarea
                      class="form-control"
                      id="textAreaExample"
                      rows="4"
                      id="Message"
                      name="Message"
                      [(ngModel)]="Commentaire.description"
                      required
                      #Message="ngModel"
                      style="background: #fff"
                    ></textarea>
                    <label class="form-label" for="textAreaExample"
                      >Message</label
                    >
                  </div>
                </div>
                <div class="float-end mt-2 pt-1">
                  <button type="submit" class="btn btn-primary btn-sm">
                    Commenter
                  </button>
                  <button type="button" class="btn btn-outline-primary btn-sm" (click)="ajoutcommentaire()">
                    Annuler
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
