<div class="container">
  <div class="tour">
    <img src="assets/mali.jpg" alt="kayes" />

    <h2>
      Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche
      de son passé glorieux constitue une des destinations touristiques les plus
      prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité
      de ses ressources touristiques.
    </h2>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <img class="t" src="assets/visite.jpg" alt="Tourisme Mali" />
    </div>
    <div class="col-12 col-md-6">
      <h3>Berceau des grands empires et royaumes d’Afrique de l’Ouest</h3>
      <p>
        Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali
        riche de son passé glorieux constitue une des destinations touristiques
        les plus prisées de l’espace CEDEAO grâce notamment à la richesse et à
        la diversité de ses ressources touristiques.
      </p>
    </div>
  </div>
</div>
