.myimg{
  box-sizing: border-box;
  background-size: cover;
  padding: 10px;
}
.myimg img{
  width: auto;
  height: 350px;
}
.card{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
p{
  margin-top: 50px;
  margin-left: 50px;
}

@media only screen and (max-width: 767px) {
  img{
    width: auto;
    height: 200px;
  }
}
