<div class="container">
  <div class="tour">
        <div class="header-sect">
         <img src="assets/mali.jpg" class="mx-auto d-block" alt="">    
       </div>
        <div class="para">
          <p >
            Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche
            de son passé glorieux constitue une des destinations touristiques les plus
            prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité
            de ses ressources touristiques.
         </p>
        </div>

     


    
  </div>
  <h2 class="text-center">Tourisme au Mali</h2>
  
    <div class="card ">
      
      <div class="row">
        <div class="col-md-6">
          <div>
            <p> Berceau des grands empires et royaumes d’Afrique de l’Ouest, le Mali riche de son passé glorieux constitue une des destinations touristiques les plus prisées de l’espace CEDEAO grâce notamment à la richesse et à la diversité de ses ressources touristiques.
              Cette richesse et cette diversité en ressources touristiques s’explique avant tout par la présence d’un patrimoine historique et culturel unique qui ont prévalu à leur inscription sur le label UNESCO.
              
              </p>
              <p>La destination touristique Mali se distingue en effet par des atouts tels que les biens culturels matériels et immatériels classés sur la liste du patrimoine mondial de l’UNESCO, les ressources naturelles impressionnantes et des traditions d’accueil et d’hospitalité exceptionnelles. La puissance tranquille des fleuves Niger et Sénégal, poumons du Mali vous entraine à la découverte de ce pays multicolore et multiséculaire.
                Le Mali, avec une superficie de 1.241.238 km2, et plus de 22.000.000 d’habitants est l’un des pays les plus grands de l’Afrique Occidentale. La densité est de 17.75 habitants au km2. Le pays est divisé en 19 régions administratives qui sont : Kayes, Koulikoro, Sikasso, Ségou, Mopti, Tombouctou, Gao, Kidal, Ménaka, Taoudéni, Nioro du Sahel, Kita, Nara, Dioila, Koutiala, Bougouni, San, Bandiagara, Douentza et le District Bamako.</p>
       
          </div>
        </div>
        <div class="col-md-6">
          <div class="col myimg ">
            <img src="assets/mali.jpg" class="mx-auto d-block" alt="Carte du Mali"> 
          </div>
        </div>
      </div>

    <div>
      

 


   
