<header class="navbar navbar-expand-md navbar-dark fixed-top nga-navbar">
  <nav class="container" aria-label="Main navigation">
    <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="tourisme">
     
      <span class="nga-logo mx-1 ">Mali Tourist</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">


        <li class="nav-item" >
          <a href="/admin" class="nav-link" routerLink="/admin">Admin Board</a>
        </li>
        

        <li class="nav-item">
          <a href="/accueil" class="nav-link" aria-current="page" routerLink="/accueil">
            <i class="fas fa-home me-1"></i>Accueil</a
          >
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="/region" class="nav-link active" aria-current="page" routerLink="/region">
            <i class="fa fa-earth-americas"></i> Region</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link" aria-current="page" routerLink="/contact">
            <i class="fas fa-envelope me-1"></i>Contact</a
          >
        </li>
      </ul>
      <form class="d-flex"  *ngIf="!isLoggedIn">
        <button
        
          href="/inscription"
          type="button"
          class="btn btn-sm btn-primary me-2"
          routerLink="/inscription"
        >
          <i class="fas fa-user-plus me-2"></i>Inscription
        </button>
        <button
        href="/login" type="button"
          class="btn btn-sm btn-outline me-2"
          routerLink="/connexion"
        >
          <i class="fas fa-sign-in-alt me-2"></i>Connexion
        </button>

    
      </form>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="nga-footer">
  <div class="py-3 text-center" style="background-color: black">
    <div class="container">
      <p>
        <span>Mali Tourist |</span> Copyright &copy; 2022 Mali | Tous droits
        réservés 
        <i class="fab fa-whatsapp" aria-hidden="true"></i>

      </p>
    </div>
  </div>
</footer>
