.t {
    background-size: cover;
    width: 100%;
  }
  .card{
    background-color: #D9D9D9;
    box-shadow: 10px 8px  rgba(0, 0, 255, .2);
    background-size: cover;
    
  }

  .btn{
    box-shadow: 10px 8px  rgba(0, 0, 255, .2);
    color: blue;

  }
 .images{

  height: 119px;
  }
 
  .images-sect .titre{
  text-align: center;
  margin-top: 5%;
  }
  
  
  .header-sect{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  a{
    text-decoration: none;
    color: black;
  }

  .region{
    font-weight: bold;
    margin-top: 30px;
    font-size: 40px;
  }
  /* button{
    width: 100px;
    align-items: center;
    margin-left: 111px;
    background-color: #D9D9D9;
  }
  button:hover{
    background-color: #009A4E;
    color: #D9D9D9;
  } */