<div class="container">
    
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
      <div class="card">
        <div class="images-sect"> </div>
        <h2 class="titre">Bamako</h2>
        <div class="para">
          <p>
            La région de Kayes est une des plus belles régions du Mali.
            Paradoxalement, cette partie du pays est très peu fréquentée par les
            touristes.
          </p>
        </div>
      </div>
     
   
    </div>
    <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
      <div class="card">
        <div class="images-sect"> </div>
        <h2 class="titre">Bamako</h2>
        <div class="para">
          <p>
            La région de Kayes est une des plus belles régions du Mali.
            Paradoxalement, cette partie du pays est très peu fréquentée par les
            touristes.
          </p>
        </div>
      </div>
     
   
    </div>
    <div class="col-12 col-md-4 col-lg-4 text-center mb-2">
      <div class="card">
        <div class="images-sect"> </div>
        <h2 class="titre">Bamako</h2>
        <div class="para">
          <p>
            La région de Kayes est une des plus belles régions du Mali.
            Paradoxalement, cette partie du pays est très peu fréquentée par les
            touristes.
          </p>
        </div>
      </div>
     
   
    </div>
    
  </div>

</div>